// backdrop

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $backdrop-bg-color;

  transition: opacity 500ms $timing-function, visibility 500ms $timing-function;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
