// mixins

@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  //   text-align: center;
}

@mixin bordered($color: $primery-link-color, $type: solid) {
  border: 1px $type $primery-link-color;
}
