// colors

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$primery-link-color: #afb1b8;
$footer-text-color: rgba(255, 255, 255, 0.6);
$secondary-text-footer: rgba(255, 255, 255, 0.4);
$social-bg-color: rgba(255, 255, 255, 0.1);
$footer-bg-color: #2f303a;
$secondary-bg-color: #f5f4fa;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$color-gradient: rgba(47, 48, 58, 0.8);
$box-shadow: rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
$overlay-color: rgba(33, 150, 243, 0.9);
$time: 250ms;
$backdrop-bg-color: rgba(0, 0, 0, 0.2);

// fonts
$size-normal: 14px;
$letter-spacing-normal: 0.03em;
$main-font: Roboto, sans-serif;
$font-medium: 500;
$font-black: 900;
$font-bold: 700;
