/* checkbox */

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  &:checked {
    @extend %checked;

    + .check-icon {
      @extend %checked;
      background-image: url(../../images/icon\check.svg);
    }
  }

  &-label {
    @include centeredFlex();
    margin-bottom: 30px;
  }
}

.check-icon {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;

  background-color: $primary-white-color;
  border: 2px solid $title-text-color;

  border-radius: 2px;
}

.label-link {
  color: $accent-color;
}
