/* checkbox */

.checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  &:checked {
    @extend %checked;

    + .check-icon {
      background-color: $accent-color;
      border-color: $accent-color;

      background-image: url("../images/icon\ check.svg");
      background-size: contain;
      background-origin: border-box;
    }
  }

  &-label {
    @include centeredFlex();
    margin-bottom: 30px;
  }
}

.check-icon {
  display: inline-block;
  margin-right: 6px;
  width: 16px;
  height: 16px;

  background-color: $primary-white-color;
  border: 2px solid $title-text-color;

  border-radius: 2px;

  @extend %checked;
}

.label-link {
  color: $accent-color;
}
